@use './base.scss';
@use 'vuetify/styles';

:root {
  --sidebar-width: 80px;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  height: 100vh;
  width: auto;
  transition: grid-template-columns 0.3s ease-in-out;
}

#app {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar main-app"
}

#main-app {
  grid-area: main-app;
  overflow-y: auto;
}

#main-sidebar {
  grid-area: sidebar;
}

a {
  text-decoration: none;
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
  padding: 3px;
}

a:hover {
  text-decoration: underline;
  color: #005582;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.boxGeneral {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(64, 64, 64, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.boxGeneral:hover {
  box-shadow: 0 8px 16px rgba(64, 64, 64, 0.5);
}

.boxSection {
  background-color: #a8a176;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.boxSection:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}